#ifndef SETINGS_H
#define SETINGS_H

// Copy this file to 'settings.h' and make your individual changes there.
// Keep in mind to never check in real credentials to any kind of VCS.

// Set AP credentials
#define AP_SSID "LevelAccess"
#define AP_PASS "UpAndDownTheWholeDay"

#define OTA_HOSTNAME "LevelAccess"

// Relay pins
#define RELAY_TOGGLE_PIN D1 // pin D1 or GPIO 5

// MFRC522 pins
/*
*
* PINOUT:
*
* RFID-Reader | D1 Mini
*    RST      |  D3
*    SDA      |  D8    (SPI SS)
*   MOSI      |  D7    (SPI MOSI)
*   MISO      |  D6    (SPI MISO)
*    SCK      |  D5    (SPI SCK)
*   3.3V      |  3v3
*    GND      |  G
*/

#define SS_PIN 15 // D8 = GPIO 15
#define RST_PIN 0 // D3 = GPIO 0

// Application

#define APP_RELAY_DURATION_MS 2500
#define APP_LEARN_CARD_DURATION_MS 10000
#define CARD_REPOSITORY_LEARN_NEW_CARD_TRIGGER 2258390UL

#endif // SETINGS_H
